.ql-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  height: 80px;
}

.ql-editor {
  border: none;
}
.ql-container {
  height: calc(100% - 80px) !important;
  overflow-y: auto;
}

.quill {
  border: none;
  height: calc(100vh - 60px);
  flex: 1;
}
.ql-snow {
  border: none !important;
}
